.vscode/
step5/build/
step4/build/
step3/.cache/
step3/build/
step2/build/.ninja_deps
step2/build/.ninja_log
step2/build/build.ninja
step2/build/cmake_install.cmake
step2/build/CMakeCache.txt
step2/build/compile_commands.json
step2/build/sparsity_pattern1.svg
step2/build/sparsity_pattern2.svg
step2/build/step2
step2/build/CMakeFiles/cmake.check_cache
step2/build/CMakeFiles/CMakeOutput.log
step2/build/CMakeFiles/print_usage.cmake
step2/build/CMakeFiles/rules.ninja
step2/build/CMakeFiles/TargetDirectories.txt
step2/build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
step2/build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
step2/build/CMakeFiles/3.23.1/CMakeSystem.cmake
step2/build/CMakeFiles/3.23.1/CompilerIdCXX/a.out
step2/build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
step2/build/CMakeFiles/step2.dir/step2.cpp.o
step3/build/.ninja_deps
step3/build/.ninja_log
step3/build/build.ninja
step3/build/cmake_install.cmake
step3/build/CMakeCache.txt
step3/build/compile_commands.json
step3/build/step3
step3/build/CMakeFiles/cmake.check_cache
step3/build/CMakeFiles/CMakeOutput.log
step3/build/CMakeFiles/print_usage.cmake
step3/build/CMakeFiles/rules.ninja
step3/build/CMakeFiles/TargetDirectories.txt
step3/build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
step3/build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
step3/build/CMakeFiles/3.23.1/CMakeSystem.cmake
step3/build/CMakeFiles/3.23.1/CompilerIdCXX/a.out
step3/build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
step3/build/CMakeFiles/step3.dir/step3.cpp.o
compile_commands.json
